.reviews
  background: $yellow-2
  &__pattern
    &::before
      content: ''
      position: absolute
      left: -1px
      bottom: -1px
      width: 50%
      padding-top: 25%
      background: url(../img/pattern-13.svg) no-repeat left bottom / 100%
  &__heading
    &-wrap
      padding: 76px 60px 52px
  &__row
    margin-bottom: -30px
    &-wrap
      position: relative
  &__item
    position: relative
    padding: 52px 60px 137px
    margin-top: -1px
    margin-bottom: 30px
    background: $bg
    &--margin-0
      margin: 0
    &--height-100
      height: 100%
    &--yellow
      background: $yellow-2
    &-heading
      margin-bottom: 0
      margin-right: 24px
      &:last-child
        margin-right: 0
    &-header
      align-items: center
      height: auto
      margin-bottom: 20px
    &-video
      padding: 8px 10px 8px 26px
      border-radius: 3px
      background: url(../img/play-2.svg) no-repeat left 12px center / 8px 10px $yellow-3
    &-footer
      position: absolute
      bottom: 52px
      left: 60px
      right: 60px
      justify-content: space-between
      align-items: flex-end
    &-result
      &-caption
        margin-bottom: 6px
      &-sum
        &::after
          content: '\00a0\20BD'
    &.border--right
      &:nth-child(3n)
        border-right-style: none
  &__footer
    padding-bottom: 120px
    background: $yellow-2
  @media (max-width: 1499.98px)
    &__heading
      &-wrap
        padding: 49px 60px 49px
    &__footer
      padding-bottom: 90px
    &__item
      padding: 45px 30px 122px
      &-footer
        bottom: 45px
        left: 30px
        right: 30px
  @media (max-width: 1199.98px)
    &__heading
      &-wrap
        padding: 52px 60px 52px
    &__item
      &.border--right
        &:nth-child(3n)
          border-right-style: solid
        &:nth-child(2n)
          border-right-style: none
  @media (max-width: 767.98px)
    &__item
      padding: 52px 60px 119px
      &.border--right
        border-right-style: none
        &:nth-child(3n)
          border-right-style: none
      &-footer
        bottom: 52px
        left: 60px
        right: 60px
  @media (max-width: 575.98px)
    &__heading
      &-wrap
        padding: 30px 15px
    &__footer
      padding-bottom: 60px
    &__item
      padding: 30px 15px 97px
      &-footer
        left: 15px
        right: 15px
        bottom: 30px