.seo
  &__pattern
    &::before
      content: ''
      position: absolute
      top: -1px
      right: -1px
    &--1
      &::before
        width: 33.8%
        padding-top: 17%
        background: url(../img/pattern-32.svg) no-repeat right top / 100%
    &--2
      &::before
        left: -1px
        padding-top: 50%
        background: url(../img/pattern-33.svg) no-repeat right top / 100%
  &__heading
    &-wrap
      padding: 112px 60px 52px
        padding-bottom: 0
  &__text
    padding: 52px 60px
  @media (max-width: 1199.98px)
    &__pattern
      &::before
        display: none
    &__heading
      &-wrap
        padding: 52px 60px
  @media (max-width: 575.98px)
    &__heading
      &-wrap
        padding: 30px 15px
    &__text
      padding: 30px 15px