.teammate
  &__pattern
    margin-left: auto
    &::before
      content: ''
      position: absolute
      top: -81px
      left: 0
      width: 1032px
      height: 562px
      background: url(../img/pattern-35.svg) no-repeat left top / 100%
  &__texts
    padding: 52px 60px
  &__main
    padding-bottom: 20px
    margin-bottom: 30px
  &__lists
    padding-bottom: 20px
    margin-bottom: 30px
    height: auto
  &__list
    margin-bottom: 6px
    &:last-child
      margin-bottom: 0
    &-item
      margin-bottom: 6px
    &-wrap
      padding-right: 40px
  &__footer
    justify-content: space-between
    height: auto
  &__socials
    &-item
      border-right: 1px solid #ffffff
      &:last-child
        border: none
    &-link
      display: block
      height: 60px
      background-repeat: no-repeat
      background-position: center
  @media (max-width: 1499.98px)
    &__pattern
      &::before
        left: -75px
    &__texts
      padding: 45px 30px
  @media (max-width: 1199.98px)
    &__pattern
      &::before
        display: none
  @media (max-width: 991.98px)
    &__texts
      padding: 52px 60px
  @media (max-width: 767.98px)
    &__tel
      &-wrap
        margin-bottom: 17px
  @media (max-width: 575.98px)
    &__texts
      padding: 30px 15px